<!DOCTYPE html>
<html>
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Liste des Categories</title>
</head>
<body>
<div th:replace="fragment/main :: navbar"></div>
<h1>Liste des Categories</h1>
	<table class="table" th:fragment="tableCategories">
		<tr>
			<th>Image</th>
			<th>Nom</th>
		</tr>
		<tr th:each="categorie, categorieStat : ${categories}">
			<td>
				<img width="50" height="50" th:src="|data:image/png;base64, ${categorie.image64}|"/>
			</td>
			
			<td th:text= "${categorie.nom}">nom</td>
			
			<td>
				<a type="button"
					class="btn btn-success"
					href="#" 
					th:href="@{/categorie/{id}(id=${categorie.id})}" >
					Afficher
				</a>	
			
				<a type="button"
					class="btn btn-warning"
					href="#" 
					sec:authorize="${hasRole('RESTAURATEUR')}"
					th:href="@{/restaurateur/categorie/update/{id}(id=${categorie.id})}" >
					Modifier
				</a>		
			
				<a type="button"
					class="btn btn-danger deleteCategorieBtn"
					href="#"
					
					th:href="@{/restaurateur/categorie/delete/{id}(id=${categorie.id})}" 
					data-th-success-url="@{/categorie}">
					Supprimer
				</a>
			</td>
		</tr>	
	</table>


<footer th:replace="fragment/main :: footer"></footer>
</body>
</html>