<!DOCTYPE html>
<html>
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Afficher une catégorie</title>
</head>
<body class="container">
<div th:replace="fragment/main :: navbar"></div>

<div>
	<img src="#" th:src="|data:image/png;base64, ${categorie.image64}|" th:alt="'categorie '+ ${categorie.nom}">
</div>
<div class="row">
	<h1 th:text= "${categorie.nom}" class="col-md-8">Afficher une catégorie</h1>
	<span> <img src="" alt=""> </span>
</div>

<table class="table" th:fragment="tableCategories">

	<tr th:each="produit : ${produitList}">
		<td>
			<img  width="50" height="50" th:src="|data:image/png;base64, ${produit.image64}|" th:alt="'image '+ ${produit.nom}"/>
		</td>

		<td th:text= "${produit.nom}">nom</td>
		<th th:text= "${produit.prixHt}+' €'"> prix</td>
			<td> <a href="" th:href="@{/produit/{id} (id=${produit.id})}" class="btn btn-success">Voir</a> </td>
	</tr>
</table>



<footer th:replace="fragment/main :: footer"></footer>
</body>
</html>
