<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:replace="fragment/main ::head">
<meta charset="UTF-8">
<title>Ajouter un produit</title>
</head>
<body>
	<div th:replace="fragment/main :: navbar"></div>

	<h1>Ajouter un produit :</h1>

<!-- Attention à enctype pour la gestion des images base64 -->
	<form action="#" th:action="@{/restaurateur/produit/add}" th:object="${produit}" method="post" enctype="multipart/form-data">
		<input type="text" th:field="*{nom}" th:errorclass="errorField">
		<p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">errors</p>
		<input type="text" th:field="*{quantiteDisponible}" th:errorclass="errorField">
		<p th:if="${#fields.hasErrors('quantiteDisponible')}" th:errors="*{quantiteDisponible}">errors</p>
		<input type="text" th:field="*{prixHt}" th:errorclass="errorField">
		<p th:if="${#fields.hasErrors('prixHt')}" th:errors="*{prixHt}">errors</p>
		<select th:field="*{categories}" multiple="multiple">
			<option th:each="cat : ${categorieList}"
					th:text="${cat.nom}"
					th:value="${cat.id}">
					categorie
			</option>
		</select>

		<input type="file" th:field="*{image}">

		<input type="submit" value="Ajouter">
	</form>

	<div th:replace="fragment/main :: footer"></div>

</body>
</html>
