<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Liste des produits</title>
</head>
<body>
	<div th:replace="fragment/main :: navbar"></div>
		<p th:if="${erreurMsg}" th:text="${erreurMsg}" class="erreurMsg">error</p>
	
	<h1>Liste des produits :</h1>

	<table class="table" th:fragment="tableProduits">
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Categorie</th>
			<th>Quantite Disponible</th>
			<th>Image</th>
		</tr>
		<tr th:each="produit , produitStat: ${produits}">
			<!-- <td th:text="${produitStat.count}">0</td> -->
			<td th:text="${produit.id}">id produit</td>
			<td th:text="${produit.nom}">Nom produit</td>
			<td>
				<span th:each="categorie, catStat : ${produit.categories}"
					th:text="${catStat.last}? ${categorie.nom} : ${categorie.nom} + ', '">
				</span>
			
			
			</td>
			<td th:text="${produit.quantiteDisponible}">produit</td>
			<td>
				<img src="#" width="50" height="100" alt="" th:src="|data:image/png;base64, ${produit.image64}|">
				<!-- <img alt="" th:src="'data:image/png;base64, '+${produit.image64}"> -->
			
			</td>
			
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
					<a type="button" class="btn btn-success" href="#" th:href="@{/produit/{id}(id=${produit.id})}">Afficher
						</a> <a type="button" class="btn btn-primary" href="#"
				th:href="@{/restaurateur/produit/update/{id}(id=${produit.id})}">Modifier
							</a> <a type="button" class="btn btn-danger" href="#"
				th:href="@{/restaurateur/produit/delete/{id}(id=${produit.id})}">Supprimer
								</a>
				</div>
			</td>
		</tr>
	</table>
	<div th:replace="fragment/main :: footer"></div>

</body>
</html>
