<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Liste des produits</title>
</head>
<body>
<div th:replace="fragment/main :: navbar"></div>
<p th:if="${erreurMsg}" th:text="${erreurMsg}" class="erreurMsg">error</p>

<h1>Afficher un produit :</h1>

<table  class="table">
<tr>
<th>Nom</th>
<th>Categorie</th>
<th>Quantite Disponible</th>
<th>Image</th>
</tr>
<tr th:object="${produit}">
<td th:text="${produit.nom}">produit</td>
<td>
				<span th:each="categorie, catStat : ${produit.categories}"
					th:text="${catStat.last}? ${categorie.nom} : ${categorie.nom} + ', '">
				</span>
			
			
			</td>
<td th:text="${produit.quantiteDisponible}">produit</td>
<td>
<img src="#" width="50" height="100" alt="" th:src="|data:image/png;base64, ${produit.image64}|">
<!-- <img alt="" th:src="'data:image/png;base64, '+${produit.image64}"> -->

</td>
</tr>
</table>
<div th:replace="fragment/main :: footer"></div>

</body>
</html>