<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head th:replace="fragment/main :: head">
	</head>
	<body class="container">


		<div th:replace="fragment/main :: navbar">
		</div>
	<h1>Ajout d'un nouveau menu</h1>
	<form action="#" method="post" th:action="@{/restaurateur/menu/add}" th:object="${menu}">
		<div class="form-group col-md-6">
			<label class="form-label">Prix unitaire HT</label>
			<input class="form-control" type="number" th:field="*{prixHT}">
		</div>

		<div th:replace="fragment/main :: navbar"></div>
		<h1>Ajout d'un nouveau menu</h1>
		<form action="#" method="post" th:action="@{/menu/restaurateur/add}" th:object="${menu}">
			<div class="row">
				<div class="col-12">
				
					<div class="form-group col-md-6">
						<label class="form-label">Prix unitaire HT</label>
						<input class="form-control" type="number" th:field="*{prixHT}">
					</div>


					<div class="form-group col-md-6">
						<label class="form-label">Nom</label>
    					<input class="form-control" type="text" th:field="*{nom}">	
  					</div>
  			
  					<div class="form-group col-md-6">
  						<label for="image">Image</label>
  						<input class="form-control" type="file" th:field="*{image}">
  					</div>
  					
  					<div class="form-group col-md-6">
						<input type="submit" value="Ajouter" class="btn btn-primary">
					</div>
				
				</div>
			</div>
  		</form>

  	<div th:replace="fragment/main :: footer"></div>

  	</body>
</html>
