<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Liste des menus</title>
</head>
<body>
	<div th:replace="fragment/main :: navbar"></div>
  <div th:if="${erreurMsg}" th:text="${erreurMsg}"></div>

    <h1 th:text="${menu.nom}">Produit</h1>
  <div th:if="${menu}" class="row">

  <div class="col-md-8">
  <table class="table">
    		<tr>
    			<th>Nom</th>
    			<th>Action</th>
    		</tr>
    		<tr th:each="produit , menuStat: ${menu.produits}">
    			<td th:text="${produit.nom}">menu</td>

    		</tr>
    	</table>
</div>

<div>
  Autres offres
</div class="col-md-4">
  	<div th:replace="fragment/main :: footer"></div>


  </div>
</body>
</html>
