<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Liste des menus</title>
</head>
<body class="container">
	<div th:replace="fragment/main :: navbar"></div>
  <div th:if="${erreurMsg}" th:text="${erreurMsg}"></div>

    <h1 > <span th:text="${menu.nom}" ></span> <span class="float-right" th:text="${menu.prixHT} + ' €'"></span></h1>
  <div th:if="${menu}" class="row">

  <div class="col-md-8">
  <table class="table">
    		<tr>
    			<th>Nom</th>
    		</tr>
    		<tr th:each="produit , menuStat: ${menu.produits}">
    			<td th:text="${produit.nom}">Produit</td>
    			<td><a href="" th:href="@{/produit/{id}(id=${produit.id})}">Voir</a></td>

    		</tr>


    	</table>
</div>
<!--
<div class="col-md-4">
  Autres offres
</div> -->


  </div>

		<div th:replace="fragment/main :: footer"></div>
</body>
</html>
