<!DOCTYPE html>
<html>
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="container">
	<div th:replace="fragment/main :: navbar"></div>

	<div class="col-md-12">

		<h1>NOM DU RESTAURANT</h1>
	</div>

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
	    <div style="background-color: black;color: white" class="carousel-item active">
				<h1>MENU 1</h1>
	      <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
	    </div>
	    <div style="background-color: black;color: white" class="carousel-item">
				<h1>MENU 2</h1>
	      <!-- <img class="d-block w-100" src="..." alt="Second slide"> -->
	    </div>
	    <div style="background-color: black;color: white" class="carousel-item">
				<h1>MENU 3</h1>
	      <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
	    </div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
		<div>
		<div class="accueil-categorie row">
			<div th:each="cat1 , index : ${categorieList}"  th:if="${index.index} < 3" class="col-md-4">
				<a href="#" th:href="@{/categorie/{id}(id=${cat1.id})}" >
					<div >
						<h1 th:text="${cat1.nom}">Categorie</h1>
						<div class="">
							<img src="#" th:src="${cat1.image64}" alt="image1">
						</div>
						<article>BLABLABLA</article>
					</div>
				</a>

			</div>
		</div>
		<div class="accueil-categorie row">
			<div th:each="cat1 , index : ${categorieList}"  th:if="${index.index} > 3" class="col-md-4">
				<a href="#" th:href="@{/categorie/{id}(id=${cat1.id})}" >
					<div >
						<h1 th:text="${cat1.nom}">Categorie</h1>
						<div class="">
							<img src="#" th:src="${cat1.image64}" alt="image1">
						</div>
						<article>BLABLABLA</article>
					</div>
				</a>

			</div>
		</div>
	</div>


	<div>
		<h1>INFORMATION SUR LE RESTAURANT / PRESENTATION</h1>
		<h1>CARTE GOOGLE MAP</h1>
	</div>
	<footer th:replace="fragment/main :: footer"></footer>
</body>
</html>
