<!DOCTYPE html>
<html>
<head th:replace="fragment/main :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="container">
	<div th:replace="fragment/main :: navbar"></div>

	<div class="col-md-12">

		<h1>NOM DU RESTAURANT</h1>
	</div>

	<div class="col-md-12">
		<h1>CAROUSEL DE MENUS</h1>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h1>Categorie 1</h1>
			<div class="">
				<img src="#" alt="image1">
			</div>
			<article>BLABLABLA</article>
		</div>
		<div class="col-md-4">
			<h1>Categorie 2</h1>
			<div class="">
				<img src="#" alt="image2">
			</div>
			<article>BLABLABLA</article>
		</div>
		<div class="col-md-4">
			<h1>Categorie 3</h1>
			<div class="">
				<img src="#" alt="image3">
			</div>
			<article>BLABLABLA</article>
		</div>
	</div>

		<div class="row">
		<div class="col-md-4">
			<h1>Categorie 4</h1>
			<div class="">
				<img src="#" alt="image4">
			</div>
			<article>BLABLABLA</article>
		</div>
		<div class="col-md-4">
			<h1>Categorie 5</h1>
			<div class="">
				<img src="#" alt="image5">
			</div>
			<article>BLABLABLA</article>
		</div>
		<div class="col-md-4">
			<h1>Categorie 6</h1>
			<div class="">
				<img src="#" alt="image6">
			</div>
			<article>BLABLABLA</article>
		</div>
	</div>
	<footer th:replace="fragment/main :: footer"></footer>
</body>
</html>
